/* Footer Base */
:root {
  --main-bg: rgb(134, 162, 195); /* dark blue-gray */
  --text-color: #ffffff;
}
.footer {
  background: var(--main-bg);      /* dark navy background */
  color: #cbd5e1;            /* light gray text */
  padding: 40px 20px 20px;
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
}

/* Footer Container */
.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

/* Column Styles */
.footer-col h2,
.footer-col h3 {
  color: #0e0d0d;
  margin-bottom: 12px;
  font-weight: 700;
}

.footer-col p {
  font-size: 14px;
  line-height: 1.6;
  color: #484c52;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.deginer{
  color: var(--main-bg);
}

.footer-col ul li {
  margin-bottom: 8px;
}

.footer-col ul li a {
  color: #444648;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.2s;
}

.footer-col ul li a:hover {
  color: #f35558; /* light blue accent */
}

/* Bottom Bar */
.footer-bottom {
  border-top: 1px solid #1e293b;
  text-align: center;
  padding-top: 15px;
  margin-top: 30px;
  font-size: 13px;
  color: #64748b;
}
